.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.userbox {
    overflow: hidden;
    clear: both;
    display: block;
    width: 280px;
    border-top: 1px solid #ccc;
}

.userbox img {
    height: 60px;
    float: left;
}

.userbox p {
    display: block;
    float: left;
    font-size: .9em;
    margin-left: 16px;
    margin-top: 22px;
}

.sharingText {
    font-size: 1.2em;
    display: block;
    width: 120px;
    text-align: center;
    float: left;
    height: 20px;
    vertical-align: bottom;
    margin-top: 6px;
}

.switchContainer {
    display: block;
}

.switchContainer span{
    display: block;
    float: left;
    vertical-align: middle;
}

.switchLabel {
    margin-top: 9px;
    margin-right: 4px;
    margin-left: 4px;
}